body {
    font-family: 'Oswald', sans-serif;
    margin:0;
}
h1{
    font-size:60px;
}
.pink-color{
    color:rgb(216, 12, 80)
}
section{
    display: flex;
    margin-bottom:130px
}
.half-width{
    width:50%;
    padding-left: 3%;
}
.half-width img{
    width:80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(green,tomato);
    color:white;
    padding:10px 50px;
    font-weight: 500;
    border-radius: 15px; 
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right bottom;
}
.download-button{
    text-decoration: none;
    background-image: linear-gradient(purple, rgb(4, 52, 71));
    color:white;
    padding:10px 45px;
    border-radius: 15px;
}

